@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 18% 97%;
    --foreground: 150 12% 14%;
    --card: 0 0% 100%;
    --card-foreground: 150 12% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 12% 14%;
    --primary: 166 62% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 135 13% 92%;
    --secondary-foreground: 150 12% 14%;
    --muted: 135 13% 92%;
    --muted-foreground: 150 8% 34%;
    --accent: 135 13% 92%;
    --accent-foreground: 150 12% 14%;
    --destructive: 0 72% 36%;
    --destructive-foreground: 0 0% 100%;
    --border: 135 9% 82%;
    --input: 150 7% 54%;
    --ring: 166 62% 25%;
    --radius: 0.75rem;
  }
  .dark:root {
    --background: 150 14% 10%;
    --foreground: 60 18% 95%;
    --card: 150 12% 14%;
    --card-foreground: 60 18% 95%;
    --popover: 150 12% 14%;
    --popover-foreground: 60 18% 95%;
    --primary: 159 46% 69%;
    --primary-foreground: 150 14% 10%;
    --secondary: 150 10% 19%;
    --secondary-foreground: 60 18% 95%;
    --muted: 150 10% 19%;
    --muted-foreground: 135 8% 72%;
    --accent: 150 10% 19%;
    --accent-foreground: 60 18% 95%;
    --destructive: 0 85% 80%;
    --destructive-foreground: 150 14% 10%;
    --border: 150 8% 28%;
    --input: 150 6% 47%;
    --ring: 159 46% 69%;
    --radius: 0.75rem;
  }
}
